body, p {
    margin: 0;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.side-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar__menu_item, .side-bar__footer_item {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.side-bar__title {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 22px 32px 34px;
    letter-spacing: 1px;
}

.side-bar__title span{
 color: blue;
}

.team-list {
    list-style: none;
}