body, p {
    margin: 0;
}

html, body {
    height: 100%;
}

.filters {
    display: flex;
    gap: 8px;
}

.head, .filters-sorts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    border-bottom: 1px solid lightgray;
}

.head__find, .head__user-logo {
    width: 34px;
    height: 34px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.head__new-user {
    color: #fff;
    background-color: blue;
    padding: 8px 16px;
    border-radius: 34px;
}

.head__right-menu {
    display: flex;
    gap: 8px;
}

.head__title {
    display: flex;
    gap: 8px;
}

.head__title p {
    font-weight: 500;
    font-size: 20px;
}

.main {
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.main__wrap {
    flex-grow: 1;
    background-color: #fff;
}

.side-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar__menu_item, .side-bar__footer_item {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.side-bar__title {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 22px 32px 34px;
    letter-spacing: 1px;
}

.side-bar__title span{
 color: blue;
}

.team-list {
    list-style: none;
}